/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home-one {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}
.home-two {
  display: grid;
  grid-template-columns: 5fr;
  gap: 2rem;
}
/* general details tab */
.general-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.general-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #1976d2;
}
.general-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  padding: 5px;
}
.general-details {
  margin: 0;
  font-size: 1.0em;
  color: #555;
}
.general-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
/* current skill details tab */
.current-skill-details {
  background: #fff;
  border-radius: 4px;
  margin: 5px auto;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  z-index: 0;
}
.current-skill-details-desc {
  margin-left: 2rem;
  display: inline-block;
}
.current-skill-details h4 {
  margin: 0 0 0 0;
  font-size: 1rem;
  color: #1976d2;
}
.current-skill-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  padding: 2px;
}
.current-skill-details {
  margin: 0.5rem;
  font-size: 1.0rem;
  color: #555;
}
.current-skill-details span {
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 50%;
  color: #333;
}
/* work experience details tab */
.work-experience-comment-list {
  list-style-type:disc;
}
.icon-text-alignment {
  vertical-align: bottom;
}
.navbar-site-buttons {
  margin: 5px;
}
.current-skill-heading {
  background: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.current-skill-heading h4 {
  margin: 0 0 0 0;
  color: #1976d2;
}