/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .lower-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.navbar-background {
  max-width: 1600px;
}
/* homepage */
.choice-box {
  background: center no-repeat url("../public/img/main_background.jpg");
  background-size: cover;
  font-size: 1.2rem;
  border-radius: 4px;
  margin: .5rem auto;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 200vh;
}
.home-origin {
  display: grid;
  grid-template-columns: 4fr;
  height: 100vh;
}
.choice-button-artist {
  padding: 0.6em 2em;
  font-size: large !important;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  top: 36rem;
  float: left;
  width: 20rem;
  margin-left: 20rem !important;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.choice-button-artist:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-choice-button-artist 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-choice-button-artist {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.choice-button-artist:after {
  z-index: -1;
  content: "";
  position: absolute;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.choice-button-dev {
  padding: 0.6em 2em;
  font-size: large !important;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  top: 36rem;
  float: right;
  width: 20rem;
  margin-right: 20rem !important;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.choice-button-dev:before {
  content: "";
  background: linear-gradient(
    45deg,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #002bff,
    #00ffd5,
    #48ff00
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-choice-button-dev 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-choice-button-dev {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.choice-button-dev:after {
  z-index: -1;
  content: "";
  position: absolute;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* programmer page */
.home-one {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 0 auto;
  padding: 12px;
}
.home-two {
  display: grid;
  grid-template-columns: 5fr;
  gap: 2rem;
}
.home-three {
  display: grid;
  grid-template-columns: 5fr;
  gap: 2rem;
}
/* general details tab */
.general-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.general-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #1976d2;
}
.general-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  padding: 5px;
}
.general-details {
  margin: 0;
  font-size: 1.0em;
  color: #555;
}
.general-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
/* current skill details tab */
.current-skill-details {
  background: #fff;
  border-radius: 4px;
  margin: 5px auto;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  z-index: 0;
}
.current-skill-details-desc {
  margin-left: 2rem;
  display: inline-block;
}
.current-skill-details h4 {
  margin: 0 0 0 0;
  font-size: 1rem;
  color: #1976d2;
}
.current-skill-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  padding: 2px;
}
.current-skill-details {
  margin: 0.5rem;
  font-size: 1.0rem;
  color: #555;
}
.current-skill-details span {
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 50%;
  color: #333;
}
.current-skill-heading {
  background: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.current-skill-heading h4 {
  margin: 0 0 0 0;
  color: #1976d2;
}
.full-skill-heading {
  background: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  margin: 4px auto;
  padding: 18px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.full-skill-heading h4 {
  margin: 0 0 0 0;
  color: #1976d2;
}
/* work experience details tab */
.work-experience-details{
  background: #fff;
  border-radius: 4px;
  margin: 5px;
  padding: 1rem;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  z-index: 0; 
}
.work-experience-details h4 {
  margin: 0 0 0 0;
  color: #1976d2;
  font-size: larger;
}
.work-experience-comment-list {
  list-style-type:disc;
}
.work-experience-title{
  font-weight: bold;
  margin: 0.5rem;
}
.work-experience-misc{
  padding: .5rem;
  font-family: "Arial";
  font-weight: bold;
  font-size: 12pt;
}
/*education*/
.education-details {
  background: #fff;
  border-radius: 4px;
  margin: 5px;
  padding: 1rem;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  z-index: 0; 
}
.education-details h4 {
  margin: 0 0 0 0;
  color: #1976d2;
  font-size: larger;
}
.education-title{
  font-weight: bold;
  margin: 0.5rem;
}
.education-details-list {
  width: 100%;
}
/* dev books */

/* dev links */
.devlink-heading {
  background: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
/*misc*/
.icon-text-alignment {
  vertical-align: bottom;
}
.navbar-site-buttons {
  margin: 2px;
}
.navbar-nav-site-buttons {
  margin: 20px 20px 40px 0px;
}
.navbar-nav-top-buttons {
  margin: 0px;
}